@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: rgb(82, 80, 80);
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: rgb(114, 114, 184);
    width:100%;
    height: 200px;
}

header > h1{
    text-align: center;
}

section{
    background-color: rgb(82, 80, 80);
    clear:both;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

section > div{
    background-color: pink;
    width: 45%;
    height: 90vh;
    border-radius: 10px;
    text-align: center;
}

.list-box{
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    height: 40%;
    width: 60%;
    text-align: center;
    background-color: white;
    line-height: 10px;
}

/* Styling for goalscorers table */
#goalscorers{
    display: flex;
}

/* Styling for assists table */
#assists{
    display: flex;
}

table{
    margin: auto;
    width: 75%;
}

table, th{
    border: 1px solid;
    border-collapse:collapse;
}

footer{
    background-color: rgb(114, 114, 184);
    width:100%;
    height: 100px;
}