@import url('https://fonts.googleapis.com/css2?family=Numans&family=Poppins:wght@300&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background-color: #42526e;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#logos {
    position: fixed;
    top: 40px;
    left: 10px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

a {
    color: inherit;
    transition: all 0.5s;
}

a:link {
    text-decoration: underline;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #42526e;
    cursor: pointer;
}

.nav-link{
    font-size: 100%;
}

.nav-link i{
    font-size: 200%;
}

header {
    width: 100%;
    height: 15%;
    text-align: center;
}

header h2{
    color: white;
}

h1,
h2 {
    font-family: 'Numans', sans-serif;
    letter-spacing: 3px;
}

h1 {
    font-size: 800%;
    text-shadow: 1px 0.7px 5px black;
}

h2{
    color: #1f2734c3;
}

h1 i {
    font-size: 80%;
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.stats {
    background-color: transparent;
    clear: both;
    min-height: 80vh;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.stats>div {
    background-color: #E08D79;
    width: 40%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.highlight-box {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.list-box {
    background-color: #a5786da6;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 60%;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.list-box h2 {
    color: #1f2734c3;
    text-shadow: none;
}

.list-box>p {
    margin: auto;
    padding: 7px;
    width: auto;
    background-color: #1f2734c3;
}

button {
    padding: 20px;
    margin: 15px;
    width: 40%;

    background-color: #a5786da6;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

button:hover {
    background-color: #42526e;
    cursor: pointer;
}

.return-statement {
    margin: auto;
    border-radius: 10px;
    width: 80%;
    background-color: #42526e;
}

.calculate,
.table-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    background-color: #a5786da6;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

table,
th {
    text-align: center;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #1f2734c3;
}

.table-section button{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height:auto
}

.table-section i:hover{
    color: white;
}

.expand{
    font-size: 200%;
    transition: all 0.2s;
    color: white;
}

.expand-text{
    color: #000000c3;
}

.table-section p{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}

.expand:hover {
    color: #42526e;
    cursor: pointer;
}

.country-column {
    display: none;
}

footer {
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100px;
}

/* Flip card styling */

.award {
    background-color: transparent;
    clear: both;
    min-height: 75vh;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.award-container {
    width: 90%;
    height: 90vh;
    text-align: center;
    perspective: 10000px;
    border-radius: 10px;
}

.award-card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.award-front {
    background-color: #E08D79;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);

    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.award-front>h3 {
    font-size: xx-large;
}

.award-front>p {
    font-size: x-large;
}

.award-back {
    background-color: #E08D79;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);

    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card-title{
    color:#1f2734c3;
}

#award-winner-name {
    font-size: xx-large;
    letter-spacing: 5px;
}

.award-image-container {
    background-color: transparent;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    perspective: 1000px;
}

.award-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.award-image-front,
.award-image-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.award-image-front {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.award-image-back {
    text-align: center;
    background-color: #1f2734c3;
    transform: rotateY(180deg);
}

.award-image-back p {
    margin-top: 11%;
}

.flip-image {
    transform: rotateY(180deg);
}

#award-winner-info {
    width: 50%;
    background-color: #65524da6;
    border-radius: 5px;
    box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#award-winner-info button {
    margin-left: auto;
    margin-right: auto;
}

.flip-award {
    transform: rotateY(180deg);
}

@media screen and (max-width:1600px) and (min-width: 1000px) {
    .list-box {
        background-color: #65524da6;
        margin-bottom: 10px;
        width: 90%;
        text-align: center;
        line-height: 8px;
    }

    .award-image-container {
        width: 350px;
        height: 350px;
    }

    table {
        width: 100%;
    }

    .award-image-back p {
        margin-top: 15%;
    }
}

@media screen and (max-width:1000px) {
    h1 {
        font-size: 600%;
    }

    .stats {
        flex-direction: column;
        border-top: 100px;
        border-bottom: 100px;
    }

    .stats div {
        width: 90%;
    }

    table {
        width: 100%;
        font-size: small;
    }

    table,
    th {
        padding: 0;
    }

    .table-section p{
        font-size: small;
    }

    button {
        width: 90%;
    }

    .award {
        width: 90%;
    }

    .award-container {
        width: 90%;
        height: 90vh;
    }

    .award-container button {
        width: 60%;
    }

    .award-back {
        flex-direction: column;
        gap: 0;
    }

    #award-winner-name {
        margin-top: 60px;
    }

    .award-image-front, .award-image-back, .award-image-container {
        display: none;
    }

    .award-image-front img {
        display: none;
    }

    #award-winner-info {
        background-color: #E08D79;
        box-shadow: none;
        width: 100%
    }

    .award-back p {
        font-size: 90%;
        margin-bottom: 3px;
    }
}

@media screen and (max-width:550px) {
    #logos {
        top: 75%;
    }

    .nav-link i{
        font-size: 150%;
    }

    h1 {
        font-size: 300%;
    }

    header h2 {
        font-size: 90%;
    }

    .list-box {
        width: 90%;
    }
}