@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
    scroll-behavior: smooth;
    margin: 0;
}

body{
    background-color: rgb(82, 80, 80);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#logos{
    position: fixed;
    top: 40px;
    left: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: xx-large;
    text-decoration: none;
}

#logos > a:hover{
    color: pink;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

header{
    background-color: rgb(114, 114, 184);
    width:100%;
    height: 200px;
}

header > h1{
    text-align: center;
}

.stats{
    background-color: rgb(82, 80, 80);
    clear:both;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.stats > div{
    background-color: pink;
    width: 45%;
    height: 90vh;
    border-radius: 10px;
    text-align: center;
}

.list-box{
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    height: 40%;
    width: 60%;
    text-align: center;
    line-height: 10px;
}

/* Styling for goalscorers table */
#goalscorers{
    display: flex;
}

/* Styling for assists table */
#assists{
    display: flex;
}

#defence{
    display: flex;
}

table{
    margin: auto;
    width: 75%;
}

table, th{
    border: 1px solid;
    border-collapse:collapse;
}

footer{
    background-color: rgb(114, 114, 184);
    width:100%;
    height: 100px;
}

/* Flip card styling */
.award{
    background-color: rgb(82, 80, 80);
    clear:both;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 40px;
}

.award-container{
    position:absolute;
    width:90%;
    height: 90vh;
    /* background-color: pink; */
    border-radius: 10px;
    text-align: center;
    perspective: 10000px;
}

.award-card:hover .award-card{
    transform: rotateY(180deg);
}

.award-card{
    width:100%;
    height:100%;
    position:relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.award-front{
    background-color: pink;
    width: 100%;
    height:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}

.award-back{
    background-color:aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
}

.flipAward{
    transform: rotateY(180deg);
}